html{
    font-family: "Quicksand", sans-serif;
    width: 25em;
    color: white;
    background-color:#272a32;
}

h1, p {
    text-align: center;
}

form #wSite {
    background-color:#272a32;
    border: none;
    border-bottom: 1px solid gray;
}

form #uName, #pass, #cPass {
    background-color: #1d1e22;
    border: none;
    border-radius: 15px;
}

form #wSite, #uName, #pass, #cPass {
    color: white;
    margin-bottom: 1em;
    padding: 3%;
    width: 65%;
    height: 1.5em;
    outline: none;
}

form #uName:focus, #pass:focus, #cPass:focus {
    border: 1px solid white;
}

#submit {
    position: relative;
    color: white;
    font-weight: bold;
    background-color: #e7983e;
    padding: 3%;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 42%;

}

#submit:hover {
    background-color: #d07b1a;
    cursor: pointer;
}

#back {
    position: absolute;
    left: 36%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #b94c46;
    border-radius: 50%;
    background-image: url("deleteIcon.png");
}

#back:hover {
    background-color: #d3332c;
    cursor: pointer;
}

form {
    text-align: center;
}