body {
    font-family: "Quicksand", sans-serif;
    width: 300px;
    color: black;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleHead {
    display: flex;
    padding: 10px;
    background: #f4f4f4;
    border-bottom: 1px solid lightgrey;
}

.titleHead img {
    width: 15%
}

.titleHead h1 {
    margin: 0 10px;
    padding-top: 5px;
}

.bodyContent p {
    text-align: center;
    padding: 4px;
    font-size: 16px;
}

.bodyContent .currentUrl {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    background: #f4f4f4;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.navButtons {
    margin-left: auto;
    margin-right: auto;
}

.navButtons td {
    padding: 10px;
}

.navButtons button{
    border: none;
    outline: none;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.fa-solid {
    font-size: 34px;
    color: gray;
}

.navButtons .fa-solid:hover {
    color: black;
    transition: all 0.3s ease;
}

.toggleContent {
    margin-left: 40px;
    margin-top: 5px;
}

.toggleContent .fa-solid {
    font-size: 30px;
}

.toggleContent button {
    cursor: pointer;
    outline: none;
    border: none;
}

.toggleContent button:hover {
    background: none;
    outline: none;
    border: none;
}

.toggleContent2 {
    margin-left: 40px;
    margin-top: 5px;
}

.toggleContent2 .fa-solid {
    font-size: 30px;
    color: orange;
}

.toggleContent2 button {
    cursor: pointer;
    outline: none;
    border: none;
}

.toggleContent2 button:hover {
    background: none;
    outline: none;
    border: none;
}

.accountInfo {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
}

.accountInfo p{
    font-size: 14px;
    border: 1px solid orange;
    border-radius: 8px;
    text-align: left;
}

.accountInfo .fa-solid {
    font-size: 20px;
}

.pencil .fa-solid {
    color: gray;
    cursor: pointer;
}

.shield .fa-solid {
    color: green;
    cursor: pointer;
}

.user .fa-solid {
    color: gray;
    cursor: pointer;
}

.key .fa-solid {
    color: gray;
    cursor: pointer;
}

.trash .fa-solid {
    color: rgb(243, 83, 83);
    cursor: pointer;
}

.linesep hr {
    transform: translateY(10px);
    border: 1px solid lightgray;
}

.shield2 .fa-solid {
    color: yellow;
    cursor: pointer;
}