body {
    font-family: "Quicksand", sans-serif;
    width: 300px;
    color: black;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleHead {
    display: flex;
    padding: 10px;
    background: #f4f4f4;
    border-bottom: 1px solid lightgrey;
}

.titleHead img {
    width: 15%
}

.titleHead h1 {
    margin: 0 15px;
    padding-top: 5px;
}

